<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>NSWithJava</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginForm</display-name>
    <servlet-name>LoginForm</servlet-name>
    <servlet-class>com.popcornapps.form.action.LoginForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginForm</servlet-name>
    <url-pattern>/LoginForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchForm</display-name>
    <servlet-name>SearchForm</servlet-name>
    <servlet-class>com.popcornapps.form.action.SearchForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchForm</servlet-name>
    <url-pattern>/SearchForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetCustomerData</display-name>
    <servlet-name>GetCustomerData</servlet-name>
    <servlet-class>com.popcornapps.form.action.GetCustomerData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCustomerData</servlet-name>
    <url-pattern>/GetCustomerData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCustomerForm</display-name>
    <servlet-name>AddCustomerForm</servlet-name>
    <servlet-class>com.popcornapps.form.action.AddCustomerForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCustomerForm</servlet-name>
    <url-pattern>/AddCustomerForm</url-pattern>
  </servlet-mapping>
</web-app>